/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#password + .glyphicon {
    cursor: pointer;
    pointer-events: all;
}

.my-alert {
    position: fixed;
    bottom: 30px;
    left: 57%;
    width: 20%;
}

div.fullscreen {
    position: absolute;
    width: 100%;
    height: 960px;
    top: 0;
    left: 0;
    background-color: lightblue;
}

.alert {
    display: none;
}
.red {
    background-color:firebrick;
    color:azure;     
}
    .red:hover {
        background-color: lightcoral;
        color: azure;
    }


.green {
    background-color: forestgreen;
    color: azure
}
    .green:hover {
        background-color: lightgreen;
        color: azure;
    }

.viewMode {
    word-break: break-all;
}

.myAlert-top {
    position: fixed;
    top: 5px;
    left: 2%;
    width: 96%;
    z-index: 1100;
}

.myAlert-bottom {
    position: fixed;
    bottom: 5px;
    left: 2%;
    width: 96%;
}

div.fullscreen {
    position: absolute;
    width: 100%;
    height: 960px;
    top: 0;
    left: 0;
    background-color: lightblue;
}

.alert {
    display: none;
}
